<section class="row yi-4k-features">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 col-lg-offset-3 feature">
        <img src="img/yi-4k-features-1.png" alt="">
        <p>Процессор Ambarella A9SE75</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 feature">
        <img src="img/yi-4k-features-2.png" alt="">
        <p>Экран AUO 2.19 дюйма</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 feature">
        <img src="img/yi-4k-features-3.png" alt="">
        <p>Разрешение съемки 4К</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 feature">
        <img src="img/yi-4k-features-4.png" alt="">
        <p>2 часа в режиме записи</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 feature">
        <img src="img/yi-4k-features-5.png" alt="">
        <p>5GHz Wi-Fi</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1 feature">
        <img src="img/yi-4k-features-6.png" alt="">
        <p>Прямая трансляция</p>
    </div>
</section>