<section class="row yi-action-app">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h2>Предварительный просмотр и мгновенная отправка файлов</h2>
        <p>С помощью приложения Action Camera Yi, ваша работа съемка станет еще проще и интересней! Приложение позволяет снимать
            потоковое видео в реальном времени, содержит учебные пособия, упрощает использование и настройку всех функций
            вашей камеры. Полностью контролируйте свою камеру, снимайте видео и фотографии удаленно и настраивайте параметры
            в приложении. Подключите камеру по Wi-Fi и дейте более крутые снимки, предварительно просмотрев их на телефоне.
            Присоединяйтесь к нам в социальных сетях и сообществу пользователей YI Action, чтобы увидеть последние и самые
            лучшие клипы и фотографии от пользователей Yi.</p>
        <p>
            <a href="https://itunes.apple.com/us/app/xiaoyi-action-camera-yicam/id963065779?mt=8" class="app-button">
                <img src="img/appstore.png">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.xiaomi.xy.sportscamera&hl=en" class="app-button">
                <img src="img/googleplay.png">
            </a>
        </p>
    </div>
</section>