<section class="row yi-case-banner">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 align-center">
        <img src="img/waterprof-case-yi-banner.png" alt="YI Case Action Camera">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h1>YI 4K Camera Case</h1>
        <p>Класс водонепроницаемости P68 для защиты вашей камеры до 40 метров под водой. Специальная конструкция обеспечивает
            резкость над и под водой.</p>
        <p>Немецкое стекло Schott, используемое на объективе с водонепроницаемым корпусом, пропускает 98,5% света, обеспечивая
            удивительную четкость в любых условиях.</p>
    </div>
</section>