<section class="row yi-lite-features">
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 col-lg-offset-3 yi-lite-feature">
        <img src="img/yi-lite-features-1.png" alt="">
        <p>Чипсет HI3556</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 yi-lite-feature">
        <img src="img/yi-lite-features-2.png" alt="">
        <p>Экран 2 дюйма</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 yi-lite-feature">
        <img src="img/yi-lite-features-3.png" alt="">
        <p>Запись видео в режиме 1080p</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 yi-lite-feature">
        <img src="img/yi-lite-features-4.png" alt="">
        <p>Разрешение фото 16 Мп</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 yi-lite-feature">
        <img src="img/yi-lite-features-5.png" alt="">
        <p>Wi-Fi + Bluetooth</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 yi-lite-feature">
        <img src="img/yi-lite-features-6.png" alt="">
        <p>Электронная стабилизация</p>
    </div>
</section>