<section class="row yi-lite-angle">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h2>Широкоугольный объектив 150°</h2>
        <p>Смотрите сразу на всю сцену</p>
        <img src="img/yi-lite-wide-angle.png" alt="">
        <p>Диафрагма f/2.8 пропускает к матрице больше света, добавьте к этому широкоугольный стеклянный шестилинзовый объектив
            высокого качества с углом съемки 150° — и YI Lite сможет запечатлеть каждый захватывающий момент. Более четкие
            и резкие снимки, даже при низком освещении. Ваши глаза могут что-то упустить, но ваша YI Lite не упустит ничего.</p>
    </div>
</section>