<section class="row advantages">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 advantage item-1">
        <img src="img/worldwide-white.png" alt="">
        <h3>Мировая известность</h3>
        <p>Продукция YI Technology пользуются популярностью в Китае, Азии, Европе, России и на Ближнем Востоке.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 advantage item-2">
        <img src="img/medal-white.png" alt="">
        <h3>Победитель в категории Smart Tech</h3>
        <p>Камеры YI удостоены наград на мировом уровне (DISTREE Diamond Awards 2018)</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 advantage item-3">
        <img src="img/wrench-white.png" alt="">
        <h3>Официальная гарантия</h3>
        <p>Качественное гарантийное и послегарантийное обслуживание в Минске.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 advantage item-4">
        <img src="img/suport-white.png" alt="">
        <h3>Сообщество YI пользователей</h3>
        <p>Большое комьюнити пользователей позволяет найти ответ на любой вопрос.</p>
    </div>
</section>