<header class="desktop">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-2">
            <a href="/" class="logo">
                <img src="img/logo.png" alt="yi-logo">
            </a>
        </div>
        <div class="col-sm-8 col-md-7 col-lg-6">
            <nav class="menu">
                <ul>
                    <li id="action">
                        <a href="">Экшн камеры</a>
                    </li>
                    <li id="road">
                        <a href="">Видеорегистраторы</a>
                    </li>
                    <li id="accessories">
                        <a href="">Акссессуары</a>
                    </li>
                </ul>
            </nav>
            <nav class="submenu">
                <div class="item action">
                    <a href="yi-4k-action-camera.html">
                        <img src="img/4k-action-camera.png" alt="">
                        <p>YI 4K Action Camera</p>
                    </a>
                    <a href="yi-lite-action-camera.html">
                        <img src="img/yi-lite-camera.png" alt="">
                        <p>YI Lite Action Camera</p>
                    </a>
                    <a href="yi-action-camera.html">
                        <img src="img/yi-action-camera-prew.png" alt="">
                        <p>YI Action Camera</p>
                    </a>
                </div>
                <div class="item road">
                    <a href="yi-mirror-dash-camera.html">
                        <img src="img/mirror-dash.png" alt="">
                        <p>YI Mirror Dash Camera</p>
                    </a>
                    <a href="yi-dash-camera.html">
                        <img src="img/dash-camera.jpg" alt="">
                        <p>YI Dash Camera</p>
                    </a>
                </div>
                <div class="item accessories">
                    <a href="yi-waterproof-case.html">
                        <img src="img/accessories.png" alt="">
                        <p>Защитные боксы</p>
                    </a>
                    <a href="yi-stick.html">
                        <img src="img/yi-stick-prew.png" alt="">
                        <p>Ручки для селфи</p>
                    </a>
                    <a href="yi-mount.html">
                        <img src="img/yi-mount-prew.png" alt="">
                        <p>Крепления</p>
                    </a>
                </div>
            </nav>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
            <a href="shops.html" class="button">Где&nbsp;Купить</a>
        </div>
    </div>
</header>
<header class="mobile">
    <div class="col-xs-12">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="yi-logo">
        </a>
        <a class="menu-button" href="#"></a>
        <nav class="mobile-menu">
            <ul>
                <li id="action">
                    <span class="category">Экшн камеры</span>
                    <div class="item action">
                        <a href="yi-4k-action-camera.html">YI 4K Action Camera</a>
                        <a href="yi-lite-action-camera.html">YI Lite Action Camera</a>
                        <a href="yi-action-camera.html">YI Action Camera</a>
                    </div>
                </li>
                <li id="road">
                    <span class="category">Видеорегистраторы</span>
                    <div class="item road">
                        <a href="yi-mirror-dash-camera.html">YI Mirror Dash Camera</a>
                        <a href="yi-dash-camera.html">YI Dash Camera</a>
                    </div>
                </li>
                <li id="accessories">
                    <span class="category">Акссессуары</span>
                    <div class="item accessories">
                        <a href="yi-waterproof-case.html">Защитные боксы</a>
                        <a href="yi-stick.html">Ручки для селфи</a>
                        <a href="yi-mount.html">Крепления</a>
                    </div>
                </li>
                <li>
                    <a href="shops.html" class="button">Где купить</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- <header class="mobile">
    <div class="col-xs-12">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="yi-logo">
        </a>
        <a class="menu-button" href="#"></a>
        <nav class="mobile-menu">
            <ul>
                <li>
                    <a href="#" class="button">Купить</a>
                </li>
                <li id="action">
                    <a href="">Экшн камеры</a>
                    <div class="item action">
                        <a href="yi-4k-action-camera.html">
                            <img src="img/4k-action-camera.png" alt="">
                            <p>YI 4K Action Camera</p>
                        </a>
                        <a href="yi-lite-action-camera.html">
                            <img src="img/yi-lite-camera.png" alt="">
                            <p>YI Lite Action Camera</p>
                        </a>
                    </div>
                </li>
                <li id="road">
                    <a href="">Видеорегистраторы</a>
                    <div class="item road">
                        <a href="yi-mirror-dash-camera.html">
                            <img src="img/mirror-dash.png" alt="">
                            <p>YI Mirror Dash Camera</p>
                        </a>
                        <a href="yi-dash-camera.html">
                            <img src="img/dash-camera.jpg" alt="">
                            <p>YI Dash Camera</p>
                        </a>
                    </div>
                </li>
                <li id="accessories">
                    <a href="">Акссессуары</a>
                    <div class="item accessories">
                        <a href="yi-waterproof-case.html">
                            <img src="img/accessories.png" alt="">
                            <p>Аксессуары</p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header> -->