<section class="row yi-4k-skier">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-7">
        <h2>Единственная в своем роде!</h2>
        <p>С помощью обновленной версии прошивки Вы можете вести прямые трансляции через приложение. Камера с невероятно широким
            углом обзора и огромным выбором дополнительных принадлежностей позволит еще красочнее передать уникальные и яркие
            моменты Ваших приключений на свежем воздухе.</p>
    </div>
</section>