<section class="row yi-4k-app">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Снимайте, редактируйте и делитесь своими видео, как профессионал с YI Action Camera App</h2>
        <p>Быстрое и удобное редактирование видео, фильтры для изображений и видео, музыкальные опции. Простое приложение для
            освоения новичками, но с возможностями как для профи. Вам больше не нужен компьютер для обработки!</p>
            <p>
              <a href="https://itunes.apple.com/us/app/xiaoyi-action-camera-yicam/id963065779?mt=8" class="app-button"><img src="img/appstore-dark.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.xiaomi.xy.sportscamera&hl=en" class="app-button"><img src="img/googleplay-dark.png"></a>  
            </p>
            
            <img src="img/app.png" alt="">
    </div>
</section>