<section class="row yi-4k-screen">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <img src="img/yi-4k-screen.png" alt="">
        <h2>Встроенный сенсорный Retina экран c защитой Gorilla Glass</h2>
        <p>Сенсорный экран с высокой разрешающей способностью и высокой чувствительностью 330ppi. </p>
        <p>Встроенный 2.19 дюймовый ЖК-экран Gorilla Glass, противостоит царапинам при активном использовании, с углом обзора
            160°. C широким экраном 640 x 360 для быстрого и легкого предварительного просмотра и съемки, вы не пропустите идеальный снимок. Управляйте YI 4K кончиками пальцев.</p>
        <div class="row screen-items">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4>2.19"</h4>
                <p>Сенсорный экран</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4>16:9</h4>
                <p>Соотношение сторон</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4>640×360</h4>
                <p>Разрешение</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4>160°</h4>
                <p>Угол обзора</p>
            </div>
        </div>
    </div>
</section>