<section class="row yi-4k-ambarella">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Передовые технологии упакованные в&nbsp;маленькую камеру</h2>
        <p>Чип нового поколения Ambarella A9SE75, датчик Sony IMX377 и 7 высококачественных линз LCE. Запись 4K/30 кадров
            в секунду со скоростью 60 Мбит/с, лучший результат в своем классе.</p>
        <div class="row ambarella-items">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">Сенсор Sony IMX377</div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">Процессор Ambarella A9SE75</div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">7 стеклянных линз LCE</div>
        </div>
    </div>
</section>