<section class="row yi-action-companion">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 align-center">
        <h2>Бесконечные возможности с аксессуарами Yi</h2>
        <p>Вы любите активно проводить время? Наши аксессуары сделаны для вас. Водонепроницаемые, легко монтируются и совместимы
            друг с другом. Они освобождают руки для творчество. Благодаря им вы снимите свое восхождение или сделаете фотографию
            осьминога. Мы постоянно добавляем новые аксессуары, чтобы дать вам больший простор для активной жизни.</p>
        <img src="img/yi-skiting.jpg" alt="YI Action Camera">
        <img src="img/yi-shark.jpg" alt="YI Action Camera">
        <img src="img/yi-mountines.jpg" alt="YI Action Camera">
    </div>
</section>