<section class="row yi-action-video">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 align-center">
        <video src="https://d3pk9z7j5el572.cloudfront.net/video/YIActionCameraOfficial.mp4" controls poster="img/yi-video-prew.jpg">Ваш браузер не поодерживает видео :(</video>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <h2>Измените свой стиль съемки</h2>
        <p>Станьте режиссером, фотографом и монтажером в одном лице с экшн камерой YI. С компактной и легкой Action Camera YI
            вы можете снимать видео в высоком разрешении и делать кристально четкие снимки в разрешении 16 мегапикселей.</p>
        <p>Предусмотренные возможности соединения через Wi-Fi и Bluetooth позволяют вам вести прямые трансляции, редактировать
            видеозаписи и фотографии, а так же мгновенно делиться фото и видео через смартфон.</p>
    </div>
</section>