<section class="row yi-action-processor">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <img src="img/yi-action-camera-front.png " alt="YI Action Camera">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Процессор Ambarella A7LS</h2>
        <p>Когда дело доходит до мощности и производительности, аппаратное обеспечение камеры говорит само за себя. Ambarella
            A7LS ведущий в мире процессоров обработки изображений для спортивных камер, YI Action Camera плавно записывает
            видеоролики и фотографии Ultra-HD с улучшенной стабилизацией изображения и уменьшением шума. Снимайте до 90 минут
            видеоматериала без потери мощности.</p>
    </div>

</section>