<section class="row yi-action-angle">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 align-center">
        <h2>Смотрите на мир панорамно</h2>
        <p>Ультра-широкоугольный объектив 155°</p>
        <p>Расширьте свою точку зрения снимая ультраширокоугольным оптическим объективом. Благодаря объективу с углом 155°,
            YI Action Camera создает потрясающие широкоугольные видеоролики вашего окружения.</p>
        <img src="img/yi-action-panoramic-black.jpg" alt="YI Action Camera">
    </div>
</section>