<section class="row yi-dash-apperture">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 align-center">
        <img src="img/yi-dash-appertures.png" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <h2>Диафрагма F1.8</h2>
        <p>Самая большая диафрагма F1.8 среди доступных на рынке камер подобного класса. Вместе с датчиком изображения 3.0×3.0 mm,
            гарантирует отличное качество даже ночью. Вы можете записывать свои ночные прогулки, не беспокоясь об освещении.</p>
    </div>
</section>