<section class="row yi-dash-video">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <h2>Лучший ассистент в автомобиле</h2>
        <p>YI Smart Dash Camera сочетает в себе множество лучших функций всех существующих цифровых камер, и обеспечивает защиту
            для вас и вашего автомобиля с максимальной производительностью и доступностью. Разработанная на основе ADAS (Advanced
            Driver Assistance System), камера анализирует данные, такие как скорость и расстояние до автомобиля впереди,
            и отправляет звуковые оповещения в режиме реального времени в случае отклонения от полосы движения или движения
            слишком близко к транспортному средству перед вами. </p>
        <p>YI Smart Dash Camera поддерживает запись в разрешении 1920x1080p / 60 кадров в секунду, сверхвысоким разрешением
            2304x1296 пикселей со скоростью 30 кадров в секунду, делая яркие и четкие записи даже на высоких скоростях.</p>
        <h2 style="margin-top:30px">Русская прошивка</h2>
        <p>Скачайте и установите русскую прошивку для камеры и используйте ее на понятном вам языке</p>
        <a href="http://yitechnology.by/source/V-1.03.031-RU.rar" class="app-button">
            <img src="img/russianloc.png" alt="">
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 align-center">
        <video src="img/SmartDashVideo.mp4" controls poster="img/dash-video.png">Ваш браузер не поодерживает видео :(</video>
    </div>
</section>