<section class="row yi-dash-case">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-center">
        <img src="img/yi-dash-bottom.png" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2>Надежная и прочная конструкция</h2>
        <p>Холодный воздух поступает через нижние вентиляционные отверстия и выходит через верхнее отверстие. Эта конструкция
            конвекционного охлаждения позволяет фотокамере сохранять рабочую температуру, что обеспечивает более длительный
            срок службы изделия. Камера YI Dash была создана с использованием огнестойких экологически чистых материалов,
            которые превзошли жесткие испытания на износ, истирание и коррозию гарантирую и долговечность.</p>
        <p>Просто вставьте камеру в гнездо держателя или прикрепите ее к приборной панели вашего автомобиля. Все материалы подобраны
            таким образом, чтобы гарантировать, что камера останется на месте во время вождения.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-center">
        <img src="img/yi-dash-top.png" alt="">
    </div>
</section>