<section class="row yi-dash-angle">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Полное покрытие 3-х полос с широкоугольным объективом 165°</h2>
        <p>Чтобы уменьшить «мертвые» зоны, YI Smart Dash Camera использует широкоугольный объектив с углом 165°, который легко
            контролирует 3 полосы движения. Камера очень чувствительна, что позволяет делать точные и подробные записи.</p>
        <div class="stage">
            <img src="img/stage-left-2.jpg" data-angle="165" width="12%" alt="">
            <img src="img/stage-left-1.jpg" data-angle="140" width="12%" alt="">
            <img src="img/stage-center.jpg" data-angle="89" width="50%" alt="">
            <img src="img/stage-right-1.jpg" data-angle="140" width="12%" alt="">
            <img src="img/stage-right-2.jpg" data-angle="165" width="12%" alt="">
        </div>
        <div class="angles">
            <img class="angle" id="89" src="img/89deg.png" alt="">
            <img class="angle" id="140" src="img/140deg.png" alt="">
            <img class="angle" id="165" style="opacity: 0.5" src="img/165deg.png" alt="">
        </div>
    </div>
</section>