<section class="row yi-floatgrip-banner">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6 col-lg-offset-2">
        <h1> YI Floating Grip — потерять камеру невозможно</h1>
        <p>Обязательный аксессуар для съемки под водой</p>
    </div>
</section>
<section class="row yi-floatgrip-info">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="gallery">
            <img class="large-img" src="img/fg-5.jpg" alt="">
            <img class="prew-img" src="img/fg-1.jpg" alt="">
            <img class="prew-img" src="img/fg-2.jpg" alt="">
            <img class="prew-img" src="img/fg-3.jpg" alt="">
            <img class="prew-img" src="img/fg-4.jpg" alt="">
            <img class="prew-img" src="img/fg-5.jpg" alt="">
            
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Плавающая ручка</h2>
        <p>Возьмите свою YI Action Camera в подводное приключение. Не важно плаваете ли вы, занимаетесь дайвингом или серфингом
            — плавающий захват YI удержит вашу камеру на плаву.</p>
        <p>Ручка выполена из нескользящей водоотталкивающей пены, что позволяет комфортно снимать фото и видео под водой. Плавающий
            захват YI покрыт слоем антикоррозийного покрытия для дополнительной прочности.
        </p>
    </div>
</section>