<section class="row yi-lite-chipset">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 align-center">
        <img src="img/yi-ligth-back.png" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <h2>Чипсет Hisilicon Hi3556</h2>
        <p>Поприветствуйте новейший чипсет Hisilicon Hi3556! Его комплексная конструкция и мощная конфигурация позволяют камере
            YI Lite эффективно записывать HD-видео, не перегреваясь даже на жаре. Сохраняйте спокойствие и продолжайте снимать!</p>
            <img src="img/yi-lite-сhipset-icon.png" alt="">
    </div>
</section>