<section class="row yi-lite-sensor">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0">
        <img src="img/yi-lite-in-vater-bg.png" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 yi-lite-sensor-text">
        <h2>Сенсор SONY IMX206</h2>
        <p>Не важно, поехали ли вы с семьей на природу, или на фестиваль с друзьями, матрица SONY IMX206 сможет запечатлеть
            каждый момент в качестве 1080p HD и позволит вам снимать фотографии с разрешением 16MP. Превратите приятные моменты
            в яркие и четкие воспоминания.</p>
        <img src="img/yi-lite-sensor.png">
    </div>
</section>