<section class="row yi-lite-stabilization">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Электронная стабилизация изображения</h2>
        <p>Где бы ни пролегал ваш путь, система электронной стабилизации изображения (EIS) позволит уменьшить тряску кадра и
            стабилизировать ваше видео без использования ручных приспособлений или пост-обработки. Ваши видеозаписи будут
            стабильными и ровными, даже если этого нельзя будет сказать о ваших маршрутах.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="video-stab">
                    <img class="img-static" src="img/eison.png" alt="">
                    <img class="gif" src="img/eletronic-stabilizator.gif" style="display: none;" alt="">
                </div>
                <h3>EIS On</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="video-nostab">
                    <img class="img-static" src="img/eison.png" alt="">
                    <img class="gif" src="img/no-eletronic-stabilizator.gif" style="display: none;" alt="">
                </div>
                <h3>EIS Off</h3>
            </div>
        </div>
    </div>
</section>