<section class="row yi-mount-banner">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6 col-lg-4 col-lg-offset-6">
        <h1>Крепления для камер&nbsp;YI</h1>
        <p>Снимайте интересные сюжеты из необычных ракурсов закрепив вашу YI камеру куда угодно!</p>
    </div>
</section>
<section class="row yi-handmount-info">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <div class="gallery">
            <img class="large-img" src="img/hand-mount-1.jpg" alt="">
            <img class="prew-img" src="img/hand-mount-1.jpg" alt="">
            <img class="prew-img" src="img/hand-mount-4.jpg" alt="">
            <img class="prew-img" src="img/hand-mount-5.jpg" alt="">
            <img class="prew-img" src="img/hand-mount-2.jpg" alt="">
            <img class="prew-img" src="img/hand-mount-3.jpg" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Крепление на руку</h2>
        <p>Все, что вам нужно сделать, это вложить руку внутрь, вставить большой палец в отверстие и настроить угол. Позвольте
            себе удивляться многогранности использования вашей ладони. Больше нет препятствий для вашего творческого взгляда.</p>
        <p>Вы занимаетесь экстремальными видами спорта? Стрит-арт? Паркур? Может быть, вы посещаете самые недоступные места
            на земле? Или, может быть, вы хотели бы взглянуть на реальность под совершенно новым углом? Какова бы ни была
            ваша страсть, теперь вы можете снять свое приключение с совершенно новой точки зрения. Самые удивительные моменты
            теперь буквально у вас под рукой. Подчеркните гладкость, динамику и диапазон ваших действий, полностью используя
            возможности крепления.</p>
    </div>
</section>
<section class="row yi-bikemount-banner">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h2>YI bike mount — камера на вашем велосипеде</h2>
        <p>Стильное и компактное рулевое крепление, изготовленное из высококачественного алюминия, для большей прочности. Антикоррозионное
            защитное покрытие и анодированный алюминий предотвращают коррозию и стирание.</p>
    </div>
</section>
<section class="row yi-bikemount-info">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <div class="gallery">
            <img class="large-img" src="img/bm-1.jpg" alt="">
            <img class="prew-img" src="img/bm-1.jpg" alt="">
            <img class="prew-img" src="img/bm-2.jpg" alt="">
            <img class="prew-img" src="img/bm-3.jpg" alt="">
            <img class="prew-img" src="img/bm-4.jpg" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Простая и надежная фиксация</h2>
        <p>Ручка, которую легко крепиться на руль, изготовлена из анодированного алюминиевого сплава. Вы можете свободно вращать
            ее, чтобы настроить наилучший угол обзора. Специальные противоскользящие резиновые проставки не только защищают
            ваш велосипед от царапин, но также устраняют вибрации и удары во время езды на велосипеде. Держатель может быть
            установлен на руле или раме, все в соответствии с индивидуальными предпочтениями.</p>
        <p>Сядьте на свой велосипед и покажите миру неизвестные уголки города, или запечатлите самые сложные трюки, которые
            вы можете себе позволить. Доверяйте нашим технологиям и сохраняйте незабываемые моменты. Полная гибкость регулировки.</p>
    </div>
</section>
<section class="row yi-headmount-banner">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h2>YI Helmet/Head Mount — камера на вашей голове</h2>
        <p>Стильное и компактное рулевое крепление, изготовленное из высококачественного алюминия, для большей прочности. Антикоррозионное
            защитное покрытие и анодированный алюминий предотвращают коррозию и стирание.</p>
    </div>
</section>
<section class="row yi-headmount-info">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <div class="gallery">
            <img class="large-img" src="img/hm-1.jpg" alt="">
            <img class="prew-img" src="img/hm-1.jpg" alt="">
            <img class="prew-img" src="img/hm-2.jpg" alt="">
            <img class="prew-img" src="img/hm-3.jpg" alt="">
            <img class="prew-img" src="img/hm-4.jpg" alt="">
            <img class="prew-img" src="img/hm-5.jpg" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Покажите свой сюжет от первого лица</h2>
        <p>Установите камеру Yi на голову или на шлем, чтобы получить самую интересную перспективу. Крепления были разработаны
            таким образом, чтобы обеспечить максимальную надежность во время ваших приключений. Независимо от того, поднимаетесь
            ли вы на стену или катаетесь на велосипеде, у вас всегда будут снимки от первого лица.</p>
        <p>Крепления для шлема и головы предназначены для самых активный пользователей. Если вы заботитесь о своей безопасности,
            крепление на шлем YI это именно то что вам нужно. Стабильный монтаж означает не только четкость изображения,
            но и безопасность вашей камеры.</p>
        <p>Водонепроницаемый, эластичный материал и противоскользящий слой обеспечивают стабильное и надежное крепление на голове.
            Это освобождает ваши руки, давая вам 100% свободу с максимальной мощностью камеры Yi. Это крепление так же подойдет
            для ношения на шлеме.</p>
    </div>
</section>