<section class="row yi-shops-banner align-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Где купить продукты YI в&nbsp;Беларуси</h1>
        <p>При покупке продукции YI у официальных дилеров, вы получаете 100% оригинальный продукт с официальной гарантией от
            поставщика</p>
    </div>
</section>
<section class="row yi-shops-shops align-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Официальные дилеры YI в Беларуси</h2>
    </div>
</section>
<section class="row yi-shops-map align-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa9cab5e3620a908a6ded836d191d3ed2cd7aa60127713a7fa24d0f70eb76b676&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</section>