<section class="row yi-stick-banner">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-lg-offset-2">
        <h1>YI монопод c Bluetooth пультом</h1>
    </div>
</section>
<section class="row yi-stick-info">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="gallery">
            <img class="large-img" src="img/ss-1.jpg" alt="">
            <img class="prew-img" src="img/ss-2.jpg" alt="">
            <img class="prew-img" src="img/ss-3.jpg" alt="">
            <img class="prew-img" src="img/ss-4.jpg" alt="">
            <img class="prew-img" src="img/ss-5.jpg" alt="">
            <img class="prew-img" src="img/ss-1.jpg" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h2>Большой диапазон — больше возможностей</h2>
        <p>Любите снимать себя всегда и везде? Но вас раздражает, что вы никогда не попадаете в кадр целиком? Оставайтесь в
            кадре благодаря нашей телескопической ручке. Монопод изготовлен из легкого и прочного алюминиевого сплава высшего
            качества.</p>
        <p>Простая конструкция с поворотом позволяет поворачивать камеру на 180°. Монопод может достигать до 70 см в длину,
            одновременно увеличивая стабилизацию кадра. В комплект также входит пульт дистанционного управления с Bluetooth,
            который позволяет вам управлять камерой с расстояния до 10 метров.</p>
    </div>
</section>