<section class="row yi-stick-info">
    <div class="col-lg-4">1</div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-lg-offset-2">
        <h2>Большой диапазон — больше возможностей</h2>
        <p>Любите снимать себя всегда и везде? Но вас раздражает, что вы никогда не попадаете в кадр целиком? Оставайтесь в кадре благодаря нашей
            телескопической ручке. Монопод изготовлен из легкого и прочного алюминиевого сплава высшего качества.</p>
        <p>Простая конструкция с поворотом позволяет поворачивать камеру на 180°. Монопод может достигать
            до 70 см в длину, одновременно увеличивая стабилизацию кадра. В комплект также входит пульт дистанционного управления с Bluetooth, который
            позволяет вам управлять камерой с расстояния до 10 метров.</p>
    </div>
</section>


