<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <link rel="shortcut icon" href="favicon.ico">
        <title>Крепления для камер YI</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.min.css?v.3.0" rel="stylesheet">
        <script src="js/jquery-3.2.1.min.js" defer></script>
        <script src="js/bootstrap.min.js" defer></script>
        <script src="js/script.js" defer></script>
    </head>
    <body>
        <div class="container-fluid">
        //= include/header.html
        //= include/yi-mount-banner.html
        //= include/footer.html
        //= include/overlay.html
        </div>
        //= include/count.html
    </body>
</html>